.home {
}
.popular-tours {
  padding: 2rem 0 6rem;
  background-image: url(../../assets/images/others/h1-background-2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.popular-tours h1 {
  font-family: "Kristi", cursive;
  font-weight: 500;
  font-size: 80px;
  color: #fc5b62;
  margin-bottom: 1.5rem;
}

.price {
  font-size: 18px;
  font-weight: 500;
  background-color: violet;
  padding: 5px;
  display: flex;
  align-items: center;
}
